# Copyright (C) 2024-2025 Burak Günaydin
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, version 3 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <https://www.gnu.org/licenses/>.

# "*"" applies the settings to all files in the repository.
# "text=auto" instructs Git to automatically handle text files by normalizing their line endings to LF when
# committing and converting them back to the native line endings for the user's platform when checking out.
# This ensures consistent line endings across different platforms.
# "eol=lf" specifies that line endings should be normalized to LF.
* text=auto eol=lf